.head-text {
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

#main-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
  border: 3px solid black;
  transition-duration: 0.4s;
}

#main-button:hover {
  background-color: greenyellow;
}

#typing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  text-align: center;
}
